* {
    box-sizing: border-box;
    font-size: 0;
}

html, body {

}

@font-face {
    font-family: 'webfont';
    src: url('//at.alicdn.com/t/webfont_6rkldyne9ub.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_6rkldyne9ub.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_6rkldyne9ub.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/webfont_6rkldyne9ub.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/webfont_6rkldyne9ub.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}

@font-face {
    font-family: "yizhiqingshu";
    src: url("../font/yizhiqingshu/yizhiqingshu.eot"); /* IE9 */
    src: url("../font/yizhiqingshu/yizhiqingshu.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../font/yizhiqingshu/yizhiqingshu.woff") format("woff"), /* chrome、firefox */ url("../font/yizhiqingshu/yizhiqingshu.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */ url("../font/yizhiqingshu/yizhiqingshu.svg#yizhiqingshu") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceHanSerifSC";
    src: url("../font/SourceHanSerifSC/SourceHanSerifSC.eot"); /* IE9 */
    src: url("../font/SourceHanSerifSC/SourceHanSerifSC.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../font/SourceHanSerifSC/SourceHanSerifSC.woff") format("woff"), /* chrome、firefox */ url("../font/SourceHanSerifSC/SourceHanSerifSC.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */ url("../font/SourceHanSerifSC/SourceHanSerifSC.svg#SourceHanSerifSC") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "lixuke";
    src: url("../font/lixuke/lixuke.eot"); /* IE9 */
    src: url("../font/lixuke/lixuke.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../font/lixuke/lixuke.woff") format("woff"), /* chrome、firefox */ url("../font/lixuke/lixuke.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */ url("../font/lixuke/lixuke.svg#lixuke") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

.header {
    width: 100%;
    height: .95rem;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: 9;
    padding: .18rem .26rem;
    text-align: center;
    /*border-bottom: .02rem solid #cccccc;*/
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);*/
}

.header .menu {
    float: left;
    /*width: .44rem;*/
    /*height: .44rem;*/
    line-height: .44rem;
    padding-top: .07rem;
    position: relative;
    z-index: 2;
}

.header .menu i {
    font-size: .44rem;
    color: #2c2c2c;
    position: absolute;
}

.header .menu i.close {
    visibility: hidden;
    opacity: 0;
}

.header .menu.on i.open {
    visibility: hidden;
    opacity: 0;
}

.header .menu.on i.close {
    visibility: visible;
    opacity: 1;
}

.header .logo {
    float: left;
    /*margin-left: 1.92rem;*/
}

.header .logo h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.header .logo h1 a {
    display: inline-block;
    width: 2.26rem;
    height: .59rem;
    background: url("../images/base/logo.png") center center /cover no-repeat;
    text-indent: -10rem;
}

.header h2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.header h2 a {
    font-size: .42rem;
    color: #333333;
    font-weight: normal;
}

.header .tel {
    position: relative;
    z-index: 2;
}

.header .tel i {
    font-size: .44rem;
    float: right;
    padding-top: .07rem;
    color: #2c2c2c;
}

.main {
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
    height: calc(100% - .95rem);
    position: fixed;
    background: #ffffff;
    z-index: 8;
    top: -100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    padding: 0 .28rem;
    overflow-y: auto;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav.on {
    top: .95rem;
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

.nav > ul > li {
    border-bottom: 1px solid #cccccc;
    position: relative;
    padding: 0 .34rem;
}

.nav > ul > li > i {
    font-size: .24rem;
    line-height: 1rem;
    position: absolute;
    right: .3rem;
    transition: all .3s;
    margin: auto;
    color: #333333;
}

.nav > ul > li.active i {
    transform: rotate(90deg);
    transition: all .3s;
}

.nav > ul > li > a {
    font-size: .3rem;
    color: #333333;
    line-height: 1rem;
    font-family: webfont, sans-serif;
}

.nav > ul > li.on > a {
    color: #bd9466;
}

.sub_menu {
    display: none;
    position: relative;
    top: -.16rem;
}

.sub_menu li a {
    font-size: .28rem;
    color: #666666;
    line-height: .54rem;
    padding-left: .3rem;
    font-family: webfont, sans-serif;
}
.sub_menu li.on a{
    color: #bd9466;
}
.footer {
    width: 100%;
    border-top: 1px solid #999999;
}

.footer .wechat {
    text-align: center;
    padding-top: .45rem;
    position: relative;
}

.footer .wechat i {
    font-size: .65rem;
}

.footer .wechat .wechat_code {
    width: 4.67rem;
    height: 4.89rem;
    padding-top: .17rem;
    background: url("../images/base/wechat_bj.png") center center /cover no-repeat;
    position: absolute;
    top: -4.52rem;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, .2rem);
    transition: all .3s;
    z-index: 3;
}

.footer .wechat .wechat_code img {
    width: 3.55rem;
}

.footer .wechat .wechat_code p {
    font-size: .24rem;
    line-height: .24rem;
    padding-top: .2rem;
    color: #666666;
}

.footer .wechat .wechat_code.on {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: all .3s;
}

.footer .msg {
    text-align: center;
    padding: .2rem 0;
}

.footer .msg p {
    font-size: .3rem;
    color: #333333;
    line-height: .3rem;
    font-family: SourceHanSerifSC, sans-serif;
    font-weight: bold;
}

.footer .copyright {
    text-align: center;
    padding-bottom: .2rem;
}

.footer .copyright p {
    font-size: .2rem;
    line-height: .34rem;
    color: #666666;
    font-family: webfont, sans-serif;
}
